/*Recomendation block*/
.recomendation {
    padding: 24px;
    margin: 0 auto;
    
    h3 {
    margin: 40px 20px 60px 20px;
    font-size: 24px;
    font-weight: bold;
  }
}
  
.cards {
    display: flex;
    flex-wrap: wrap;
}