.slider {
    width: 70%;
    height: 360px;
    overflow: hidden;
    border-radius: 10px;
  }

  .slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
  }

  .adBlock {
    width: 270px;
    height: 360px;
    background-color: #FF9017;
    border-radius: 10px;
  }

  .adBlock img {
    width: 270px;
    height: 360px;
    object-fit: cover;
    object-position: center;
    position: relative;
    border-radius: 10px;
  }
  .kolbasa{
    width: 1000px;
    height: 120px;
  }
